# Assignment-1

### Q1. Create one variable containing following type of data:

(i) string

In [1]:
a = 'Sudhasnhu'

(ii) list

In [9]:
lst = ['1','sudh',23,[4,6,7],(3+1j)]

(iii) float

In [11]:
flt = 3.3

(iv) tuple

In [12]:
tpl = (1,3,478)

### Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

String

(ii) var2 = ‘[ DS , ML , Python]’

Syntax Error

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

List

(iv) var4 = 1

Integer

### Q3. Explain the use of the following operators using an example:

(i) /

Division operator used to perform division.

In [20]:
10.0/3

3.3333333333333335

(ii) %

Modulus operator used to find the remainder in division operation.

In [23]:
10%2

0

(iii) //

Floor division operator used to find the quotient

In [27]:
8//3

2

(iv) **

Exponentiation operator used as power of a number

In [28]:
3**2

9

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
### element and its data type.

In [31]:
l1 = ['sudh',3.2,True,(4+7j),56,[2,4,'Roy'],(4,'asus'),{1 : True, 0 : False}, {1,5,5,5,6,7},'']

In [40]:
for i in l1:
    print(i,' ----------> ',type(i))

sudh  ---------->  <class 'str'>
3.2  ---------->  <class 'float'>
True  ---------->  <class 'bool'>
(4+7j)  ---------->  <class 'complex'>
56  ---------->  <class 'int'>
[2, 4, 'Roy']  ---------->  <class 'list'>
(4, 'asus')  ---------->  <class 'tuple'>
{1: True, 0: False}  ---------->  <class 'dict'>
{1, 5, 6, 7}  ---------->  <class 'set'>
  ---------->  <class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
### times it can be divisible.

In [4]:
a = int(input("Enter the valye of A: "))
b = int(input("Enter the valye of B: "))

count = 0 

while a>=b:
    a=a//b
    count+=1

if a == 0:
    print(f'{a} is purely divisible by {b} {count} times')
else:
    print(f'{a} is not purely divisible by {b}')
    
print(f'{count} times')

Enter the valye of A: 18
Enter the valye of B: 3
2 is not purely divisible by 3
2 times

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
### divisible by 3 or not.

In [15]:
import random
lst2 = random.choices(range(1, 108), k=25)

In [16]:
for i in lst2:
    if i%3 == 0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} isn\'t divisible by 3')

104 isn't divisible by 3
93 is divisible by 3
2 isn't divisible by 3
91 isn't divisible by 3
81 is divisible by 3
30 is divisible by 3
11 isn't divisible by 3
2 isn't divisible by 3
101 isn't divisible by 3
71 isn't divisible by 3
22 isn't divisible by 3
65 isn't divisible by 3
42 is divisible by 3
51 is divisible by 3
4 isn't divisible by 3
89 isn't divisible by 3
102 is divisible by 3
45 is divisible by 3
53 isn't divisible by 3
51 is divisible by 3
19 isn't divisible by 3
82 isn't divisible by 3
13 isn't divisible by 3
14 isn't divisible by 3
100 isn't divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing
### this property.

Mutable: Ojects whose value can be changed after they are created. eg: list, set, Dictionary...


Immutable: Ojects whose value can't be changed after they are created. eg: Strings & Tuple....

In [20]:
l2 = [10,35, 40]
l2[1] = 'Sudh'

In [21]:
l2

[10, 'Sudh', 40]

In [22]:
s = 'SuDhAnShu'

In [23]:
s[1]

'u'

In [24]:
s[1] = 'XL'

TypeError: 'str' object does not support item assignment